body {
    font-family: sans-serif;
    font-size: 23px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

header {
    width: 100%;
    height: 90px;
}

nav {
    background-color: #ff0000;
    font-family: 'mistral';
    padding: 10px 0; /* Removido espaço lateral */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%; /* Agora ocupa 100% */
    height: 90px;
    font-size: 15px;
    position: fixed; /* Fixa no topo */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que está acima de outros elementos */
}


header button {
    border-radius: 5px;
    width: 120px;
    border: 1px #ffffff;
    background-color: #ffffff;
    color: #ff0000;
    font-size: 15px;
    font-family: 'mistral';
}

.container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(23, 23, 23, 0);
    position: relative;
    z-index: 1;
    border: 1px solid #000000;
}

header h1 {
    font-size: 70px;
    color: #ffffff;
    margin-left: 20px;
    font-family: "mistral", sans-serif;
    font-weight: lighter;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 18px;
}

h1,
h2,
h3 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

h2 {
    text-align: center;
}

.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/sol_preto.jpg);
    filter: blur(5px);
    z-index: -1;
    opacity: 0.8;
    border-radius: 8px;
}

button {
    font-family: 'mistral';
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: rgba(74, 0, 0, 0.05) 0 0 8px;
    font-size: 18px;
    transition: all 0.5s ease;
    width: 120px;
    height: 50px;
  }

  .imagemBotao {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 80px;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: #ff0000;
    color: hsl(0, 0%, 100%);
    border: 1px solid #ffffff;
    box-shadow: #791212 0px 7px 29px 0px;
  }

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1c1c1c;
    color: #ff0000;
    font-size: 18px;
    width: 100%;
}

img {
    height: 500px;
    width: auto;
    margin: 20px;
}

section div img {
    height: 500px;
    width: auto;
    margin: 20px;
}

.carousel img {
    height: 500px;
    width: auto;
    margin: 20px;
    border-radius: 10px;

}

section {
    background-color: #161616be;
    border-radius: 5px;
}

section h2,
h3,
p {
    margin: 20px;
}

section img {
    height: 200px;
    border-radius: 8px;
}

.sobre {
    text-align: justify;
}

.sobre img{
    text-align: center;
}

/* Barra de rolagem geral */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra */
    height: 8px; /* Altura para rolagem horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #1c1c1c; /* Cor do fundo */
    border-radius: 10px; /* Arredondamento */
}

/* Botão de rolagem */
::-webkit-scrollbar-thumb {
    background: #ff0000; /* Cor do botão */
    border-radius: 10px; /* Arredondamento */
    border: 2px solid #1c1c1c; /* Espaço ao redor do botão */
}

/* Botão de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #cc0000; /* Cor ao passar o mouse */
}

.input-group {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'mistral';
  }
  
  .input-group div {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  
  .input {
    width: 350px;
    height: 50px;
    background-color: #0000008a;
    border-radius: .5rem;
    border: 2px solid white;
    color: #ffffff;
    margin-left: 3px;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1), color .3s cubic-bezier(.25, .01, .25, 1), background .2s cubic-bezier(.25, .01, .25, 1);
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.799);
    /* Placeholder branco com 50% de opacidade */
  }
  
  .input:hover,
  .input:focus {
    outline: none;
    border-color: #791212;
  }
  
  .input:hover+.label,
  .input:focus+.label {
    color: #000000;
  }
  
  .input-group:hover .input:hover {
    border-color: #791212;
  }
  
  .input option {
    background-color: #ffffff;
    color: #ff0000;
  }
  
  .input option:disabled {
    background-color: #cc0000;
    color: #ffffff;
    opacity: 0.5;
  }
  
  .input option[value="selecione"] {
    color: #ffffff;
  }
  
  .input:disabled,
  .input option:disabled[selected] {
    color: rgba(255, 255, 255, 0.799);
    /* Placeholder branco com 50% de opacidade */
  }